body > .container:first-child {
  margin: 3rem auto 0;
}
a {
  text-decoration: none;
}
.controls select {
  margin-left: 10px;
  padding: 5px;
  border-radius: 5px;
}
.controls {
  background: #1c39bb;
  border-radius: 1rem;
  padding: 1.5rem 2rem 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 5px 5px black;
}
.controls span:not(:first-of-type) {
  padding-left: 4rem;
}
.controls label {
  display: inline-block;
  margin: 0 0 0 0.5rem;
  color: white;
}
.file-list {
  list-style: none;
}
.file-list li {
  margin: 1rem 0;
}
.file-list .file-name {
  line-height: 4rem;
  display: inline-block;
  position: relative;
  padding-left: 4rem;
}
.file-list .file-name::before {
  background: no-repeat center center;
  background-size: contain;
  width: 3rem;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}
.file-list .directory .file-name::before {
  background-image: url(../image/directory.png);
}
.file-list .file .file-name::before {
  background-image: url(../image/file.png);
}
.file-list .other .file-name::before {
  background-image: url(../image/other.png);
}
.file-list .parent .file-name::before {
  background-image: url(../image/parent.png);
}
/* .file-list .file-link {
} */
.file-list .file-date {
  padding: 0.25rem 0.5rem;
  background: #1c39bb;
  border-radius: 0.5rem;
  font-size: 70%;
  margin: 0 0.5rem;
  color: #fff;
}
/* .file-list .directory .file-date {
} */
.file-list .parent .file-date {
  display: none;
}
.file-list .file-size {
  padding: 0.25rem 0.5rem;
  background: #182233;
  border-radius: 0.5rem;
  font-size: 70%;
  margin: 0 0.5rem;
  color: #fff;
}
.file-list .other .file-size,
.file-list .parent .file-size,
.file-list .directory .file-size {
  display: none;
}
footer {
  flex-shrink: 0;
  text-align: center;
}
footer small + small {
  margin-left: 2rem;
}
/*
    Start of alternations for dark theme
*/
body.dark {
  background-color: #182233;
  color: #ecdbb2;
}
body.dark h1 {
  color: #d9dde7;
}
body.dark a {
  color: #fd4e5d;
}
body.dark a.file-name {
  color: #d9dde7;
}
body.dark .controls {
  background: #fd4e5d;
  color: BLACK;
  box-shadow: 5px 5px black;
}
body.dark input[name="sort"] {
  accent-color: #fe6142;
}
body.dark .file-list .file-date {
  background: #b3cee2;
  color: #182233;
}
body.dark .file-list .file-size {
  background: #fd4e5d;
  color: #182233;
}
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 64px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #73c0fc;
  transition: 0.4s;
  border-radius: 30px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  border-radius: 20px;
  left: 2px;
  bottom: 2px;
  z-index: 2;
  background-color: #e8e8e8;
  transition: 0.4s;
}
.sun svg {
  position: absolute;
  top: 6px;
  left: 36px;
  z-index: 1;
  width: 24px;
  height: 24px;
}
.moon svg {
  fill: #73c0fc;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
  width: 24px;
  height: 24px;
}
/* .switch:hover */
.sun svg {
  animation: rotate 15s linear infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* .switch:hover */
.moon svg {
  animation: tilt 5s linear infinite;
}
@keyframes tilt {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.input:checked + .slider {
  background-color: #183153;
}
.input:focus + .slider {
  box-shadow: 0 0 1px #183153;
}
.input:checked + .slider:before {
  transform: translateX(30px);
}
.flex-container {
  display: flex;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container {
  width: 75%;
}
.sidebar {
  width: 25%; /* Adjust width as needed */
  padding: 1.5rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.logo img {
  max-width: 100%;
  height: auto;
}
.social-icons {
  display: flex;
}
.social-icons img {
  width: 30px;
  height: auto;
}